<%= button_to "Create New User", "/register", method: :get %>
<%= link_to "Login", "/login", method: :get %>

<h3>Existing Users</h3>
<% @users.each do |user| %>
  <p><%= link_to user.email, user %></p>
<% end %>