<%= button_to "Create New User", "/register", method: :get %>
<% if !current_user? %>
  <%= link_to "Login", "/login", method: :get %>
<% else %>
  <%= link_to "Logout", "/logout", method: :get %>
<% end %>

<h3>Existing Users</h3>
<% @users.each do |user| %>
  <p><%= link_to user.email, user %></p>
<% end %>